@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Michroma&display=swap');

h1 {
    color:black;
}

body {
    background-image: url(../images/FUduVPRVEAAIKuv.jpg);
    background-size: cover;
    background-position: top;
  }

.main-home {
  padding: 2rem;
  margin: 20px auto;
}

.h1-home {
    padding: 2rem;
    border-radius: 20px;
    gap: 20px;
    height: 80%;
    width:30%;
    background-color: #050738;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: "Lily Script One";
    margin: 20px auto;
  }

  .p-home {
    padding: 1rem;
    border-radius: 20px;
    gap: 20px;
    background-color: #050738;
    text-align: center;
    justify-content: center;
    color: white;
    line-height: 2;
    width: 39rem;
    margin: 0 auto;
    font-family: "Gluten", cursive;
  }

  img {
    width: 300px;
    height: 200px;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
  }
  
  .div{
    padding: 1rem;
    border-radius: 20px;
    gap: 20px;
    background-color: #050738;
    text-align: center;
    justify-content: center;
    color: white;
    line-height: 2;
    width: 39rem;
    margin: 0 auto;
    font-family: "Gluten", cursive;
  }