@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

*{
    box-sizing: border-box;
}

.nav-container {
    background-color: #17438A;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: .5rem;
  }
  
  .nav-container a {
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #54A9D7;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 200ms all;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  }
  
  .nav-container a:hover {
    background-color: #A5468D;
  }

body{
    margin: 0;
}

section{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid black;
    position: relative;
}

.page-6{
    background-image: url('images/page-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-6 .content-6{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: #17438A;
    padding: 20px;
}

.interact-6{
    width: 35%;
    position:absolute;
    bottom:10%;
    left:45%;
}

.interact-6{
    width: 35%;
    position:absolute;
    bottom:10%;
    left:45%;
}

.page-7{
    background-image: url('images/page-7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-7 .content-7{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: #17438A;
    padding: 20px;
}

.page-8{
    background-image: url('images/page-8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-8 .content-8{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: #17438A;
    padding: 20px;
}

.interact-7{
    width: 60%;
    position:absolute;
    right:20%;
    top:1%;
}