@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

*{
    box-sizing: border-box;
}

.nav-container {
    background-color: #17438A;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: .5rem;
  }
  
  .nav-container a {
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #54A9D7;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 200ms all;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  }
  
  .nav-container a:hover {
    background-color: #A5468D;
  }

body{
    margin: 0;
}

section{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid black;
    position: relative;
}

.page-1{
    background-image: url('images/page-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-1 .content-1{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: black;
    padding: 20px;
}

.page-2{
    background-image: url('images/page-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-2 .content-2{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: black;
    padding: 20px;
}

.page-3{
    background-image: url('images/page-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-3 .content-3{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: black;
    padding: 20px;
}