*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

section{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid black;
    position: relative;
}

.page-1{
    background-image: url('images/ponyoandsosuke.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-1 .content-1{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: black;
    padding: 20px;
}

.page-2{
    background-image: url('images/page-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page-3{
    background-image: url('images/page-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}